@model IEnumerable<Proyecto_Covid_Final.Examen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.exa_resultado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exa_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.paciente_nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.exa_resultado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exa_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.paciente_nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.exa_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.exa_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.exa_ID })
        </td>
    </tr>
}

</table>
