@model IEnumerable<Proyecto_Covid_Final.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contacto_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contacto_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.contacto_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contacto_ID })
        </td>
    </tr>
}

</table>
